Button.button {
    background-color: #48BAEC;
    width: 100%;
    color: #ffffff;
    font-size: 26px;
}

Page {
    background-color: #000000;
}

.actionBar {
     background-color: #000000;
     color: #48BAEC;
}